{% load dajaxice_templatetags %}
<head>
    <meta charset="utf-8"/>
    <title>Blog</title>
    {% load staticfiles %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <script src="{% static  'js/vendor/custom.modernizr.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <script type="text/javascript" src="{%static 'js/jquery.ba-serializeobject.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'dajax/jquery.dajax.core.js'%}"></script>
    {% dajaxice_js_import %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#progressbar" ).progressbar({
                value: false
            });
        });
    </script>
    <style>
        #progressbar .ui-progressbar-value {
            background-color: #ccc;
        }
    </style>
</head>

<body>
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group radius">
                <li><a href="{% url 'home' %}" class="button">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="button">Logout({{ user.username }})</a></li>
                    <li><a href="{% url 'addgallery' %}" class="button">Add Gallery</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="button">Login</a></li>
                    <li><a href="{% url 'signup' %}" class="button">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <h2>Gallery</h2>
        <hr />
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="large-12 columns" role="content">
			{% if messages %}
                {% for message in messages %}
        <div class="alert-box alert-info radius text-center">{{message}}
		<a href='#' class="close">&times;</a>
		</div>
                {% endfor %}
			{% endif %}
                <div id="extramessage" hidden="hidden" class="alert-box alert-info radius text-center">
                    <a href='#' class="close">&times;</a>
                </div>
                <div id="progressbar" hidden="hidden"></div>
        {% block content %}{% endblock %}
        </div>
    </div>
    </div>
</div>
</body>