{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="column">
            <div class="has-button">
                <button type='submit' class="small button" >Add</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}