{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function(){
        $("button[name='send']").click(function() {
            $('#progressbar').show();
        });
    });
    function hide_progress()
    {
        $('#progressbar').fadeOut("slow");
    }
</script>
<div class="text-center">
    <form action="" method="POST" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="column">
            <div class="has-button">
                <p><button class="small" name="send" value="{{folder}}">Add</button></p>
            </div>
        </div>
    </form>
</div>
{% endblock %}