{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        $("input[name='size']").change(function() {
            var pathname = window.location.pathname.split('/')
            folder = pathname[3]
            gallery = pathname[2]
            Dajaxice.gallery.resizephotos(Dajax.process,{'gallery':gallery,'folder':folder, size:$("input[name='size']:checked").val()})
        });
    });

</script>
<a href="{% url 'addphoto' gallery folder %}">Add Photo </a><a href="{% url 'addzip' gallery folder %}">Upload zip</a><br /><br />
<div class="pull-2" style="width: 140;">
    <label for="radio1"><input name="size" type="radio" id="radio1" value="75x100" checked="checked"><span class="custom radio"></span>75 x 100</label>
    <label for="radio2"><input name="size" type="radio" id="radio2" value="180x240"><span class="custom radio"></span>180 x 240</label>
    <label for="radio3"><input name="size" type="radio" id="radio3" value="375x500"><span class="custom radio"></span>375 x 500</label>
</div>
<ul class="inline-list" id="photos">
    {%if urls%}
    {% for url in urls %}
    <li>
        <a href="{{url}}"><img src= "{{ url }}"/></a>
    </li>
    {% endfor %}
    {% else %}
    Brak Fotek ziomek!
    {% endif %}
</ul>



{% endblock %}