{% extends "base.html" %}

{% block content %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(document).ready(function(){
        $("button[name='zip']").click(function() {
            $('#progressbar').show();
            Dajaxice.gallery.downloadzip(Dajax.process,{'folder':$("button[name='zip']").val()})
        });
    });
    function hide_progress()
    {
        $('#progressbar').fadeOut("slow");
    }

</script>
<a href="{% url 'addfolder' gallery1%}">Add Folder</a>
        <ul class="inline-list">
            {% if folders %}
            {% for folder in folders %}
            <li>
                <a href="{% url 'viewfolder' gallery1 folder %}"><img src="/media/images.jpg"/></a>
                <h5><a href="{% url 'viewfolder' gallery1 folder %}">{{folder}}</a>
                    <button class="small" type="submit" name="zip" onclick="" value="{{folder}}">Download zip</button></h5>
            </li>
            {% endfor %}
            {% else %}
            Brak Folderów ziomek!
            {% endif %}
        </ul>



{% endblock %}