{% extends "base.html" %}

{% block content %}

        <ul class="inline-list">
            {% if galleries %}
            {% for gallery in galleries %}
            <li>
                <a href="{% url "viewgallery" gallery.name %}"><img src="/media/gallery.jpg" /></a>
                <h5><a href="{% url "viewgallery" gallery.name %}">{{gallery}}</a></h5>
            </li>
            {% endfor %}
            {% else %}
            Brak Galeriów ziomek!
            {% endif %}
        </ul>



{% endblock %}