{% extends "base.html" %}
{% block content %}
<div class="text-center">
    <form action="" method="POST" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <div class="column">
            {{ form.as_p }}
        </div>
        <div class="column">
            <div class="has-button">
                <button type='submit' id="registryBtn" class="small button">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}